<% content_for :pagetitle do %>Apiculteurs<% end %>
<% content_for :pagename do %>Nos apiculteurs<% end %>
<% content_for :meta_description do %>Venez parcourir les différents apiculteurs bordelais référencés par le Petit Panier Bordelais pour découvrir la source du miel de la région.<% end %>
<% content_for :twitter_description do %>Venez parcourir les différents apiculteurs bordelais référencés par le Petit Panier Bordelais pour découvrir la source du miel de la région.<% end %>
<% content_for :og_description do %>Venez parcourir les différents apiculteurs bordelais référencés par le Petit Panier Bordelais pour découvrir la source du miel de la région.<% end %>

<div class="productor-items" id="produc-api">
  <% @apiculteurs.each do |a| %>
    <div class="item-container">
      <% if a.image %>
      <%= link_to image_tag(a.image), productor_path(a) %>
      <% else %>
      <%= link_to image_tag('apiculteurs.jpg'), productor_path(a) %>
      <% end %>
      <p><%= a.name %></p>
    </div>
  <% end %>
</div>
