<% content_for :pagetitle do %>Éleveurs<% end %>
<% content_for :pagename do %>Nos éleveurs<% end %>
<% content_for :meta_description do %>Venez parcourir les différents éleveurs bordelais référencés par le Petit Panier Bordelais pour découvrir les viandes et la charcuterie de la région.<% end %>
<% content_for :twitter_description do %>Venez parcourir les différents éleveurs bordelais référencés par le Petit Panier Bordelais pour découvrir les viandes et la charcuterie de la région.<% end %>
<% content_for :og_description do %>Venez parcourir les différents éleveurs bordelais référencés par le Petit Panier Bordelais pour découvrir les viandes et la charcuterie de la région.<% end %>

<div class="productor-items" id="produc-ele">
  <% @eleveurs.each do |e| %>
    <div class="item-container">
      <% if e.image %>
      <%= link_to image_tag(e.image), productor_path(e) %>
      <% else %>
      <%= link_to image_tag('eleveurs.jpg'), productor_path(e) %>
      <% end %>
      <p><%= e.name %></p>
    </div>
  <% end %>
</div>
