<% content_for :pagetitle do %>Horticulteurs<% end %>
<% content_for :pagename do %>Nos horticulteurs<% end %>

<div class="productor-items" id="produc-hor">
  <% @horticulteurs.each do |h| %>
    <div class="item-container">
      <% if h.image %>
      <%= link_to image_tag(h.image), productor_path(h) %>
      <% else %>
      <%= link_to image_tag('horticulteurs.jpg'), productor_path(h) %>
      <% end %>
      <p><%= h.name %></p>
    </div>
  <% end %>
</div>
