<% content_for :pagetitle do %>Maraîchers<% end %>
<% content_for :pagename do %>Nos maraîchers<% end %>

<div class="productor-items" id="produc-mar">
  <% @maraichers.each do |m| %>
    <div class="item-container">
      <% if m.image %>
      <%= link_to image_tag(m.image), productor_path(m) %>
      <% else %>
      <%= link_to image_tag('maraichers.jpg'), productor_path(m) %>
      <% end %>
      <p><%= m.name %></p>
    </div>
  <% end %>
</div>
