<% content_for :pagetitle do %>Viticulteurs<% end %>
<% content_for :pagename do %>Nos viticulteurs<% end %>
<% content_for :meta_description do %>Venez parcourir les différents viticulteurs bordelais référencés par le Petit Panier Bordelais pour découvrir les vins de la région.<% end %>
<% content_for :twitter_description do %>Venez parcourir les différents viticulteurs bordelais référencés par le Petit Panier Bordelais pour découvrir les vins de la région.<% end %>
<% content_for :og_description do %>Venez parcourir les différents viticulteurs bordelais référencés par le Petit Panier Bordelais pour découvrir les vins de la région.<% end %>

<div class="productor-items" id="produc-hor">
  <% @viticulteurs.each do |v| %>
    <div class="item-container">
      <% if v.image %>
      <%= link_to image_tag(v.image), productor_path(v) %>
      <% else %>
      <%= link_to image_tag('viticulteurs.jpg'), productor_path(v) %>
      <% end %>
      <p><%= v.name %></p>
    </div>
  <% end %>
</div>
