<% content_for :pagetitle do %>Services<% end %>
<% content_for :pagename do %>Nos services<% end %>
<% content_for :meta_description do %>Venez parcourir les différents services bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>
<% content_for :twitter_description do %>Venez parcourir les différents services bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>
<% content_for :og_description do %>Venez parcourir les différents services bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>

<div id="services-index">

<!-- RESTAURANTS -->

  <h3>Nos derniers restaurants</h3>

  <%= link_to restaurants_path do %>
  <%= image_tag('bread.jpg', class: "serv-index-img") %>
  <% end %>

<!-- MARCHE -->

  <h3>Nos derniers marchés</h3>

  <%= link_to marches_path do %>
  <%= image_tag('paysans.jpg', class: "serv-index-img") %>
  <% end %>

</div>
