<% content_for :pagetitle do %>Marchés<% end %>
<% content_for :pagename do %>Nos marchés<% end %>
<% content_for :meta_description do %>Venez parcourir les différents marchés bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>
<% content_for :twitter_description do %>Venez parcourir les différents marchés bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>
<% content_for :og_description do %>Venez parcourir les différents marchés bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>

<div class="services-items" id="service-marche">
  <% @marches.each do |m| %>
    <div class="item-container">
      <% if m.image %>
      <%= link_to image_tag(m.image), service_path(m) %>
      <% else %>
      <%= link_to image_tag('paysans.jpg'), service_path(m) %>
      <% end %>
      <p><%= m.name %></p>
    </div>
  <% end %>
</div>

<p><%= link_to "Voir plus", root_path, class:"red-button" %></p>
