<% content_for :pagetitle do %>Restaurants<% end %>
<% content_for :pagename do %>Nos restaurants<% end %>

<div class="services-items" id="service-restau">
  <% @restaurants.each do |r| %>
    <div class="item-container">
      <%= link_to image_tag('bread.jpg'), service_path(r) %>
      <p><%= r.name %></p>
    </div>
  <% end %>
</div>

<p><%= link_to "Voir plus", root_path, class:"red-button" %></p>
