<% content_for :pagetitle do %><%= @service.name %><% end %>
<% content_for :pagename do %><%= @service.name %><% end %>
<%= link_to "Retour", "#", onclick: "history.back()" %>

<h2>Adresse</h2>
<p><%= @service.address %></p>
