<% content_for :pagetitle do %>À propos<% end %>
<% content_for :pagename do %>À propos de nous<% end %>

<div id="about-page">
  <p>Parce qu’il est important de manger local et sain, Le Petit Panier Bordelais s’est fixé pour objectif
  de vous aider à trouver facilement des produits locaux dont vous serez fous ! Rejoignez la communauté
  du Petit Panier Bordelais et découvrez tout au long de la semaine des alertes et publications sur les
  marchés imminents, les producteurs locaux et restaurants partenaires. Les fruits et légumes de saison
  seront mis à l’honneur au début de chaque mois sur notre page Instagram, ce qui inspirera vos papilles
  dans la quête d’une alimentation saine et bio. </p>
  <p>Une envie de produits locaux sans passer par votre supermarché ? Venez découvrir de façon ludique
    les producteurs locaux près de chez vous ainsi que tous les produits qu’ils vous proposent !</p>

  <h2>Notre équipe</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
