<% content_for :pagetitle do %>Articles<% end %>
<% content_for :pagename do %>Des articles pour découvrir<% end %>
<% content_for :meta_description do %>Avec Le Petit Panier Bordelais, retrouvez des articles vous faisant découvrir Bordeaux, ses produits locaux, ses restaurants et ses producteurs, tous présents autour de vous<% end %>

<div id="articles">
  <div class="article-container">
    <h2>LES MARCHES BORDELAIS : L'ORIGINE D'UNE NOTORIETE CROISSANTE</h2>
    <p> Afficher l'article </p>
    <div class="article-content">
      <p>Les marchés Bordelais sont des lieux d’échanges, le plus souvent hebdomadaire, qui peuvent s’étendre sur toute la région comme par exemple à  Brienne,  Artigues, Bordeaux centre et ainsi que toutes ses autres communes.
      Ses marchés sont des réunions périodiques d’acheteurs ou de vendeurs sur une place aménagées et surveillées par les autorités locales en grandes parties pour des raisons fiscales car elle perçoit des droits sur la circulation de la marchandises. L’origine de ses attroupements commercial remonte au temps médiéval.
      </p>
      <h3>LE MARCHE DE SAINT AUGUSTIN</h3>
      <p>Tous les mercredis sur la place St-Augustin, en Gironde plus précisément à Bordeaux, vous pourrez retrouver les 16 commerçants habituels qui vous proposeront des produits alimentaires issus des récoltes locales pour la plupart. On y trouve un marchand de fruits et légumes, une charcuterie, une boucherie, une poissonnerie, mais aussi des étals de fromages, de vins, de fleurs, de pains, d’olives ou encore de miel. Ce marché a comme attrait un lieu d’échange convivial, familial et tranquille; qui plus est ce dernier compte 4 ou 5 commerçants bio avec des produits frais et sains pour votre santé.
      </p>
      <h3>LES CAPUCINS</h3>
      <p>Le marché des Capucins est sans nul doute le plus grand et le plus vieux qui existe sur Bordeaux ou voir même en Aquitaine, ses réunions hebdomadaires durent depuis 1749 où aujourd’hui on y retrouve plus de 80 commerçants, sa situation géographique est idéal, placé au centre du centre ville, à 2 pas de la place La Victoire où la fréquentation est toujours bondé par les passants, les touristes qui seraient susceptibles d’acheter local.
      Le secteur d’activité aux Capucins est purement commercial, on peut y retrouver des Boulangers, des bouchers, des charcutiers, traiteurs, des chocolatiers, des fleuristes, des fromagers, des fruits et légumes, des maraîchers, des marchands de vins, des olives, des ostréiculteurs, des poissonniers et aussi des produits biologiques.
      </p>
    </div>
  </div>
  <div class="article-container">
    <h2>BORDEAUX : DES PRODUCTEURS LOCAUX FLORISSANTS</h2>
    <p> Afficher l'article </p>
    <div class="article-content">
      <p>En expansion sur un marché de plus en plus important, les producteurs locaux basés à Bordeaux et ses alentours entrent aujourd’hui véritablement dans la cour des grands. Alliant produits régionaux et produits biologiques, ils s’affirment dorénavant au sein des légumes, des fruits,
        des viandes et de tout ce qui fait danser nos papilles. Découverte d’un univers novateur.
      </p>
      <h3>MANGER LOCAL, UNE NOUVELLE PREOCCUPATION</h3>
      <p>Dans un soucis de préservation des saveurs du territoire et de développement de l’économie du pays, un bon nombre de français s’attaque aujourd’hui aux produits locaux. Ainsi suivent ils les saisons bien au chaud dans leur ville productrice autour de laquelle s’accroit parallèlement le marché du travail agricole. En effet au plus grand bonheur de tous, la France sait produire viandes, produits marins, fruits et légumes de qualité. Seul bémol notable : les fruits exotiques et épices sont parfois difficiles à cultiver sur notre territoire au climat tempéré. À Bordeaux, le vin n’est donc plus le seul produit sur le devant de la scène ; les « paniers bio » et les livraisons à domicile des produits locaux séduisent aussi les foules et de Castelnau du Médoc à Langon même les herbes aromatiques de la région trouvent gourmand à leur pied.  </p>
      <h3>UN ACCROISSEMENT DES VENTES À BORDEAUX</h3>
      <p>Nouvelle tendance entraînant nouveau marché, de nombreuses personnes se lancent alors dans l’univers immense de l’agriculture et de l’exploitation. Sur le territoire encerclant Bordeaux les producteurs locaux sont ainsi en développement et leur zone de croissance s’étend de plus en plus à la région Nouvelle Aquitaine toute entière, dépassant ainsi les fines frontières de la Gironde fervente amatrice de ces fermes à produits sains. Un nouveau réseau voit ainsi le jour : des magasins et diverses épiceries s’implantent à droite et à gauche en réponse à ce nouveau besoin des consommateurs. Ainsi cette nouvelle vague de tentations au sein de l’alimentaire entraine une autre utilisation de ce marché et un accroissement des productions régionales qui, à Bordeaux, transcendent et dépasse la simple fabrication de vins de renom.
      </p>
    </div>
  </div>
  <div class="article-container">
    <h2>TOP 5 DES RESTAURANTS LOCAUX A BORDEAUX</h2>
    <p> Afficher l'article </p>
    <div class="article-content">
      <p>Entre châteaux, vignobles et cafés Bordeaux regorge d’opportunités. Bobo dans l’âme, la nouvelle tendance est aux restaurants locaux bordelais. Venez découvrir la Soupe au Caillou et pleins d’autres pour un voyage gustatif hors du commun.
      </p>
      <h3>KITCHEN GARDEN, UNE SALLE COSY ET UN RESTAURANT VÉGÉ</h3>
      <p>Buddha bowls, smoothie bowls et toasts à l’avocat, le restaurant Kitchen Garden est l’endroit idéal pour votre brunch du dimanche à Bordeaux. Leurs assiettes instagrammable seront satisfaire les foodie. Dans le même genre retrouvé le SIP Coffee, situé en plein centre de Bordeaux, ce café à l’ambiance berlinoise, vous convaincra dès votre première visite. La Soupe au Caillou ou l’un des meilleurs restaurants bio et locaux de Bordeaux. Mise en bouche à petit prix, venez découvrir un soir dans cette pièce chaleureuse le choix abondant de leu carte ou venez dégustez un verre au bar du restaurant.
      <h3>La belle campagne, fait maison et mets de qualité</h3>
      <p>Situé à Bordeaux, première ville de la gastronomie, La belle campagne est LE restaurants favoris des locavores. En plein coeur de Saint-Pierre, l’établissement et sa terrasse nous propose un cadre et un choix dans le menu plus que convaincant. Venez dégustez en couple ou entre amis des boissons avec des fruits bio et locaux, de la viande au grill et pleins de petits plats gastronomiques concocté par le chef. Enfin notre dernier chouchou se situe pas loin du centre commercial Auchan Mériadeck, La cuisine de Johanna, tous les jours celle-ci vous concocte des petits plats faits maison à 19€ le kilo.<br>
      Bordelais, Parisiens, touristes mais surtout Locavor grace au Petit Panier Bordelais vous serrez maintenant où manger lors de votre virée resto !</p>
    </div>
  </div>
</div>

<script>articles();</script>
