<% content_for :pagetitle do %>Contact<% end %>
<% content_for :pagename do %>Contactez-nous<% end %>

<div id="contact">
  <hr><hr><br>
  <p> 1 rue Jacques Ellul, 33000 Bordeaux </p>
  <p> contact@lepetitpanierbordelais.fr </p>
  <p> 06 70 98 67 88 </p>
</div>
