<% content_for :pagetitle do %>Contact<% end %>
<% content_for :pagename do %>Contactez-nous<% end %>
<% content_for :meta_description do %>Contactez le Petit Panier Bordelais si vous souhaitez être référencé dans nos différentes catégories ou pour tout renseignement complémentaire.<% end %>
<% content_for :twitter_description do %>Contactez le Petit Panier Bordelais si vous souhaitez être référencé dans nos différentes catégories ou pour tout renseignement complémentaire.<% end %>
<% content_for :og_description do %>Contactez le Petit Panier Bordelais si vous souhaitez être référencé dans nos différentes catégories ou pour tout renseignement complémentaire.<% end %>

<div id="contact">
  <hr><hr><br>
  <p> 1 rue Jacques Ellul, 33000 Bordeaux </p>
  <p> contact@lepetitpanierbordelais.fr </p>
  <p> 06 70 98 67 88 </p>
</div>
