<% content_for :pagetitle do %>Accueil<% end %>
<% content_for :pagename do %>Le Petit Panier Bordelais<% end %>

<div id="homepage">
  <div id="about">
    <div id="text">
      <h3> Qui sommes nous ?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div id="vendeurs">
    <div class="left-part">
      <h3>Nos Vendeurs</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur non diam orci. Fusce viverra vitae purus pretium
        tincidunt. Nullam sem sapien, bibendum et dignissim a,
        varius sed nulla.
        Nullam sem sapien, bibendum et dignissim a, varius sed nulla.
        Morbi iaculis dignissim faucibus. Pellentesque a dolor ut orci l
        aoreet vulputate. Proin hendrerit erat et magna
        sodales iaculis.
      </p>
      <%= link_to 'Découvrir', services_path,class:"red-button" %>
    </div>
    <div class="right-part"></div>
  </div>

  <div id="producteurs">
    <div class="left-part"></div>
    <div class="right-part">
      <h3>Nos Producteurs</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur non diam orci. Fusce viverra vitae purus pretium
        tincidunt. Nullam sem sapien, bibendum et dignissim a,
        varius sed nulla.
        Nullam sem sapien, bibendum et dignissim a, varius sed nulla.
        Morbi iaculis dignissim faucibus. Pellentesque a dolor ut orci l
        aoreet vulputate. Proin hendrerit erat et magna
        sodales iaculis.
      </p>
      <%= link_to 'Découvrir', productors_path, class:"red-button" %>
    </div>
  </div>
</div>
