<% content_for :pagetitle do %>Accueil<% end %>
<% content_for :pagename do %>Le Petit Panier Bordelais<% end %>

<div id="homepage">
  <div id="about">
    <div id="text">
      <h3> Qui sommes nous ?</h3>
      <p>Notre plateforme se veut être un site de référence permettant aux utilisateurs d’accéder aux produits locaux près de chez eux, de rencontrer les producteurs, de découvrir des marchés, des services près de chez eux tels que les AMAP, et enfin de découvrir des produits de qualité à prix abordable, et de se divertir grâce à des itinéraires « Découvertes » proposant un tour de la ville autour de dégustations et de découverte de produits locaux.
         L’itinéraire reste un plus, l’axe principal est le référencement des producteurs et des produits.
      </p>
      <p>Finalement, Le Petit Panier Bordelais est une source d’information, de découverte, de surprise, et en bonus de divertissement. Ce service ne proposera pas d’échanges entre les utilisateurs, ce qui n’implique pas de modération, toutefois les utilisateurs ou producteurs pourront proposer des magasins, restaurants, producteurs, produits à ajouter à notre plateforme pour l’enrichir.</p>
    </div>
  </div>

  <div id="vendeurs">
    <div class="left-part">
      <h3>Nos Vendeurs</h3>
      <p> Vous voulez changer un peu des marchés et voulez trouver des vendeurs de produits locaux près de chez vous ? Retrouvez ici tous nos vendeurs présents dans l'agglomération bordelaise qui seront ravis de satisfaire vos besoins, n'hésitez pas à les contacter !
      </p>
      <%= link_to 'Découvrir', services_path,class:"red-button" %>
    </div>
    <div class="right-part"></div>
  </div>

  <div id="producteurs">
    <div class="left-part"></div>
    <div class="right-part">
      <h3>Nos Producteurs</h3>
      <p> Acheter vos aliments directement chez nos producteurs, vous découvrirez des produits exeptionnels pour un coût réduit et une qualité sans pareille. Contactez nos producteurs grâce à liste disponible sur notre plateforme, les répartissant par activités et localisation. Ils sont présents aux alentours de Bordeaux, et sûrement près de chez vous !
      </p>
      <%= link_to 'Découvrir', productors_path, class:"red-button" %>
    </div>
  </div>
</div>
