// Place all the styles related to the Productors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#prod-show {
  a {
    text-transform: uppercase;
  }
  h2{
    padding-left: 1em;
    color:$red;
    font-size: 1.5em;
  }
  padding:3em;
}
.productor-items{
  padding:3em 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin:2em auto;

  .item-container {
    position: relative;
    min-width: 15em;
    width:30%;
    margin:0;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    img {
      width:100%;
      height:auto;
      cursor:pointer;
      filter: contrast(0.7);
    }
    p {
      z-index: 1;
      letter-spacing: 2px;
      font-weight: bold;
      position: absolute;
      margin:0;
      text-align: center;
      font-size:1em;
      color:white;
      top:45%;
    }
    &:hover {
      filter: saturate(20%);
    }
  }
}

#producteurs-index {
  text-align: center;
  h3 {
   font-size: 1.8em;
   color:$red;
   letter-spacing: 2px;
   margin:1em 0;
   border-top: 1px solid $red;
   padding-top:0.8em;
   margin:auto;
   width:90%;
   margin-bottom: 1em;
  }

  .prod-index-img {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 20px auto;
  }
}

@media screen and (max-width:768px) {
  #producteurs-index h3 {
    font-size: 1.5em;
  }
}
